# phpStorm project files
/.idea

# composer vendor dir
/vendor

# CodeSniffer configuration
/phpcs.xml

# composer itself
composer.phar

#composer lock file
composer.lock

# Mac DS_Store Files
.DS_Store

# phpUnit
.phpunit.result.cache
